select:focus option:first-child{
display: none;
}
option:first-child{
  color: gray;
}
dialog{
  border: 2px solid red;
  border-radius: 5px;
  background-color: white;
  z-index: 999999999999999999999;
  padding: 50px;
}
dialog p{
  margin: 0;
  padding: 0;
}
/* precio */
dialog p span{
  font-weight: bold;
}
dialog input[type='submit']:hover, dialog input[type='submit']:focus{
  background-color: darkblue;
  color: #fafafa;
  font-weight: bold;
}
select{
  max-width: 200px;
  width: 200px;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  text-wrap: wrap;
}
option{
  max-width: 200px;
  width: 200px;
  overflow-x: hidden;
  text-wrap:wrap;
  color: blue;
}
